.gem-button {
    height: 100px;
    width: 100px;
}

.top-buffer {
    margin-top: 20px;
}

body {
    background-image: url("../images/background.png") 
}

#side-img {
    height: 100px;
    width: 100px%;
}
